.header
  width: 100%
  text-align: center

  p
    color: #FFF
    font-weight: 300
    font-size: 1.2rem
    margin: .6rem
    letter-spacing: .03rem

    &:last-of-type
      margin-bottom: 1.5rem

  &:before
    background: linear-gradient(141deg, complement(#2cb5e8) 0%, complement(#1fc8db) 31%, complement(#0fb8ad) 55%)
    content: ''
    height: 6px
    display: block
    position: relative
    z-index: 1

  &__link-title
    font-size: 3rem
    color: #FFF
    text-decoration: none

  &__subtitle
    display: block
    font-size: 1.2rem
    color: #FFF
    font-weight: normal

  &__main
    max-width: 1000px
    z-index: 1
    position: relative
    margin: auto
    padding: 0 20px

    @media only screen and (min-width: 1000px)
      padding: 0

.link
  color: darken(red, 15%)
  font-weight: bold

  &:hover
    color: lighten(blue, 28%)

// .search
//   border: none
//   font-size: 1.8em
//   padding: 10px
//   width: 100%
//   border-radius: 5px
//   background-color: rgba(255, 255, 255, .3)
//   // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250.313 250.313' fill='#FFF'><path d='M244.186 214.604l-54.38-54.378c-.288-.29-.627-.49-.93-.76 10.7-16.23 16.946-35.66 16.946-56.554C205.822 46.075 159.747 0 102.912 0S0 46.075 0 102.91c0 56.836 46.074 102.912 102.91 102.912 20.895 0 40.323-6.245 56.554-16.945.27.3.47.64.76.93l54.38 54.38c8.168 8.167 21.412 8.167 29.582 0 8.168-8.17 8.168-21.414 0-29.583zM102.91 170.146c-37.133 0-67.235-30.102-67.235-67.235 0-37.133 30.103-67.235 67.236-67.235s67.236 30.103 67.236 67.236c0 37.134-30.103 67.236-67.235 67.236z' /></svg>")
//   background-repeat: no-repeat
//   background-position: right
//   transition: all 1s ease
//   font-weight: 300
//   margin-bottom: 10px

//   &:focus
//     background-color: rgba(255, 255, 255, .9)
//     border-color: #FFF
//     outline: none

// .filter
//   text-align: right
//   color: #FFF
//   font-size: 1.5rem
//   font-weight: 300

// .select
//   appearance: none
//   font-size: 1rem
//   font-weight: 300
//   letter-spacing: .009rem
//   padding: .4rem
//   border: none
//   background: transparent url("./arrow.svg") center right no-repeat
//   padding-right: 20px
//   background-size: 18px 18px
//   color: white
//   margin-bottom: 20px

//   option
//     color: black
