.acdc {
  // &--classical &
  //  &__fill
  //    fill: #626262
  //  &__shadow-one
  //    fill: #4A4A4A
  //  &__shadow-two
  //    fill: #EDEDED
  //  &__shadow-three
  //    fill: #C2C2C2
  //  &__shadow-four
  //    fill: #4D4D4D

  &--classical & {
    &__fill {
      fill: #ef2334;
    }

    &__shadow-one {
      fill: #e3051b;
    }

    &__shadow-two {
      fill: #ffebcb;
    }

    &__shadow-three {
      fill: #f7b28a;
    }

    &__shadow-four {
      fill: #784500;
    }
  }
}
