$red
  fill:#be2e0a

$yellow
  fill:#f1c116

.zakk-sabbath
  &--zs
    .cross, .s-letter, .z-letter
      @extends $red

    .s-outer, .z-outer
      @extends $yellow

  .lettering
    @extends $red

  .outer
    @extends $yellow
