{
  "env": {
    "amd": false,
    "applescript": false,
    "browser": true,
    "commonjs": false,
    "embertest": false,
    "jasmine": false,
    "jest": false,
    "jquery": false,
    "meteor": false,
    "mocha": true,
    "mongo": false,
    "nashorn": false,
    "phantomjs": false,
    "prototypejs": false,
    "protractor": false,
    "qunit": false,
    "serviceworker": false,
    "shelljs": false,
    "webextensions": false,
    "worker": false
  },

  "globals": {
    // additional predefined global variables
  },

  "plugins": [
    // e.g. "react" (must run `npm install eslint-plugin-react` first)
  ],

  "extends": [
    // extend the set of enabled rules
    "standard"
  ],

  "rules": {
    // http://eslint.org/docs/rules/

    ////////// Possible Errors //////////
    "no-await-in-loop": "error",
    "no-console": "error",
    "no-empty": "error",
    "no-extra-semi": "error",
    "no-prototype-builtins": "error",
    "valid-jsdoc": "error",


    ////////// Best Practices //////////
    "array-callback-return": "error",
    "block-scoped-var": "error",
    "class-methods-use-this": "error",
    "consistent-return": "off",
    "default-case": "off",
    "dot-notation": ["warn", { "allowKeywords": true }],
    "guard-for-in": "error",
    "no-alert": "off",
    "no-case-declarations": "off",
    "no-div-regex": "off",
    "no-else-return": "off",
    "no-empty-function": "warn",
    "no-eq-null": "error",
    "no-extra-label": "error",
    "no-implicit-coercion": "error",
    "no-implicit-globals": "off",
    "no-invalid-this": "off",
    "no-magic-numbers": ["error", { "ignoreArrayIndexes": true, "ignore": [-1, 0, 1] }],
    "no-param-reassign": "off",
    "no-restricted-properties": "off",
    "no-script-url": "error",
    "no-unused-expressions": "off",
    "no-unused-labels": "error",
    "no-useless-concat": "error",
    "no-useless-return": "error",
    "no-void": "off",
    "no-warning-comments": ["off", { "terms": ["todo", "fixme", "xxx"], "location": "start" }],
    "radix": "off",
    "vars-on-top": "off",


    ////////// Strict Mode //////////
    "strict": ["error", "function"],


    ////////// Variables //////////
    "no-use-before-define": "warn",


    ////////// Node.js and CommonJS //////////
    "no-process-exit": "error",


    ////////// Stylistic Issues //////////
    "array-bracket-spacing": ["warn", "never"],
    "computed-property-spacing": ["warn", "never"],
    "consistent-this": ["warn", "context"],
    "id-blacklist": "warn",
    "id-match": "warn",
    "jsx-quotes": ["error", "prefer-double"],
    "linebreak-style": ["error", "unix"],
    "max-depth": ["warn", 5],
    "max-nested-callbacks": ["warn", 5],
    "max-params": ["warn", 5],
    "max-statements": ["warn", 5],
    "no-continue": "warn",
    "no-lonely-if": "error",
    "no-mixed-operators": "warn",
    "no-nested-ternary": "error",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "object-curly-spacing": ["warn", "never"],
    "one-var-declaration-per-line": ["warn", "always"],
    "operator-assignment": ["error", "always"],
    "quote-props": ["warn", "consistent"],
    "require-jsdoc": "warn",
    "wrap-regex": "warn",


    ////////// ECMAScript 6 //////////
    "arrow-parens": ["warn", "as-needed"],
    "generator-star-spacing": ["error", {"before": true, "after": true}],
    "no-confusing-arrow": ["warn", {"allowParens": false}],
    "no-var": "error",
    "object-shorthand": "warn",
    "prefer-arrow-callback": ["warn", { "allowNamedFunctions": true }],
    "prefer-const": "error",
    "prefer-numeric-literals": "error",
    "prefer-template": "error",
    "require-yield": "error",
    "sort-imports": ["warn", { "ignoreCase": true }]
  }
}
