{
  "ignorePatterns": ["dist"],
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:vue/recommended",
    "prettier/standard",
    "prettier",
    "prettier/vue",
  ],
  "plugins": ["prettier", "standard", "vue"],
}
