# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# SVG Music Logos
public/logos/**/*.svg
public/logos/**/*.zip
server/db/data.json
logos/**/*.css

# Vitest
coverage/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Sentry Config File
.env.sentry-build-plugin
