#############
## System files
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#################
## Unit test / coverage reports
#################

coverage
.coverage
.tox
.nyc_output
lib-cov

#################
## NPM
#################

.npm
node_modules/
.lock-wscript

# Output of 'npm pack'
*.tgz

#################
## Logs
#################
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#################
## Runtime data
#################
pids
*.pid
*.seed
*.pid.lock

#################
## Bower Components
#################

bower_components

#################
## Yarn
#################
.yarn-integrity

#################
## Eslint
#################
.eslintcache

#################
## SASS Cache
#################

.sass-cache

#################
## Gh-pages
#################

.publish

#################
## Swill boilerplate
#################

build/
dist/
src/stylesheets/helpers/_helpers.styl
src/stylesheets/helpers/_helpers.scss
