.detonator--metal-cinco-estrelas .detonator__stars,
.detonator--metal-cinco-estrelas .detonator__details {
  fill: #009640;
}
.detonator--metal-cinco-estrelas .detonator__background,
.detonator--metal-cinco-estrelas .detonator__letter-background {
  fill: #004388;
}
.detonator--metal-cinco-estrelas .detonator__foreground {
  fill: #ffde00;
}
.detonator--metal-cinco-estrelas .detonator__letter-foreground {
  fill: #fff;
}
