.trooper {
  &__lettering {
    fill: red;
  }

  &__inner-shadow {
    fill: white;
  }

  &__outer-shadow {
    opacity: 0;
  }

  &--new & {
    &__outer-shadow {
      opacity: 1;
    }
  }

  &--red-n-black & {
    &__inner-shadow {
      fill: black;
    }

    &__outer-shadow {
      opacity: 0;
    }
  }
}
