.card
    background: lighten(#000, 90%)
    border-radius: 10px
    height: 100%

    &-box
        @extend .row
        @extend .center-xs

    &__cols
        trailer(1)
        @extend .col-md-4
        @extend .col-sm-6
        @extend .col-xs-12

