.card
  $margin=10px
  height: 100%
  margin: 0 $margin $margin 0
  background: rgba(255,255,255,.5)
  text-align: center

  &-container
    display: flex
    justify-content: space-around
    flex-wrap: wrap

    &__cols
      margin-bottom: $margin
      flex: 0 100%

      @media only screen and (min-width: 48em)
        flex: 0 (100/3)%

