.card
    background: lighten(#000, 90%)
    border-radius: 10px
    height: 100%
    // padding: em(16px)

    // &-box
    //     @extend .center-xs
    //     @extend .row

    // &__cols
    //     @extend .col-md-4
    //     @extend .col-sm-6
    //     @extend .col-xs-12

    &__link-title
        color: $primary-color
        text-decoration: none

        &:hover
            text-decoration: underline
