.search
    width: 100%
    border-radius: 5px
    transition: all 1s ease

    &:focus
        background: lighten(#000, 80%)
        border-color: lighten(#000, 80%)
        color: #FFF
        outline: none
