.u2--joshua-tree .u2__shadow,
.u2--joshua-tree .u2__text,
.u2--the-joshua-tree-text .u2__tree {
  display: none;
}
.u2--the-joshua-tree .u2__shadow,
.u2--the-joshua-tree-text .u2__shadow {
  fill: #808080;
}
.u2--the-joshua-tree .u2__tree {
  fill: #ccc;
}
