/*!!
* SVG Music Logos
* https://github.com/tiagoporto/svg-music-logos
* Copyright (c) 2016-2018 Tiago Porto (http://tiagoporto.com)
*/

@import "./logos/14-bis"
@import "./logos/50-cent"
@import "./logos/acdc"
@import "./logos/ace-frehley"
@import "./logos/airbourne"
@import "./logos/audioslave"
@import "./logos/bad-religion"
@import "./logos/bartucada"
@import "./logos/bon-jovi"
@import "./logos/chickenfoot"
@import "./logos/dead-kennedys"
@import "./logos/death"
@import "./logos/detonator"
@import "./logos/derek-riggs"
@import "./logos/diamond-head"
@import "./logos/dream-theater"
@import "./logos/enforcer"
@import "./logos/felipe-andreoli"
@import "./logos/franz-ferdinand"
@import "./logos/guns-n-roses"
@import "./logos/hibria"
@import "./logos/iron-maiden"
@import "./logos/jota-quest"
@import "./logos/kiss"
@import "./logos/krisiun"
@import "./logos/linkin-park"
@import "./logos/matanza"
@import "./logos/massacration"
@import "./logos/megadeth"
@import "./logos/metal-church"
@import "./logos/metallica"
@import "./logos/mamonas-assassinas"
@import "./logos/mixhell"
@import "./logos/nirvana"
@import "./logos/oasis"
@import "./logos/overdose"
@import "./logos/pato-fu"
@import "./logos/raimundos"
@import "./logos/rammstein"
@import "./logos/rush"
@import "./logos/sepultura"
@import "./logos/sextrash"
@import "./logos/slash"
@import "./logos/the-who"
@import "./logos/tim-ripper-owens"
@import "./logos/u2"
@import "./logos/van-halen"
@import "./logos/yes"
@import "./logos/zz-top"

