.van-halen
  &--II
    &__letters
      fill:#ECECEC
      stroke:#1D1D1B
      stroke-width:0.1336
      stroke-miterlimit:2.6131

    &__shadow
      fill:#B1B1B1
      stroke:#1D1D1B
      stroke-width:0.1336
      stroke-linejoin:bevel
      stroke-miterlimit:2.6131
