.van-halen {
  &--II {
    &__letters {
      fill: #ececec;
      stroke: #1d1d1b;
      stroke-width: 0.1336;
      stroke-miterlimit: 2.6131;
    }

    &__shadow {
      fill: #b1b1b1;
      stroke: #1d1d1b;
      stroke-width: 0.1336;
      stroke-linejoin: bevel;
      stroke-miterlimit: 2.6131;
    }
  }
}
