.button {
  position: fixed;
  right: 20px;
  bottom: 25px;
  z-index: 20;
  background: transparent;
  padding: 0;
  line-height: 0;
  color: #fff;
  border: none;

  svg {
    cursor: pointer;
    transition: rotate 0.5s ease-in-out;

    &:hover {
      rotate: 1080deg;
    }
  }

  &::after {
    content: '';
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
    box-shadow: -3px 2px 5px rgb(7 109 73 / 36.9%);
  }
}
