@use 'sass:color';

.card {
  display: flex;
  flex-direction: column;
  box-shadow:
    0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%),
    0 3px 1px -2px rgb(0 0 0 / 20%);
  justify-content: space-between;
  background: rgb(255 255 255 / 80%);
  flex-basis: 100%;
  transition: flex-basis 0.5s;

  @media only screen and (width >= 550px) {
    flex-basis: calc((100% - 40px) / 2);
  }

  @media only screen and (width >= 800px) {
    flex-basis: calc((100% - 40px) / 3);
  }

  &--inverse {
    background: rgb(0 0 0 / 85%);
    color: #fff;
  }

  &__content {
    padding: 20px;

    p {
      margin: 0.4rem 0;
      line-height: 1.2rem;
      vertical-align: middle;
      text-align: center;
    }
  }

  &__title {
    font-size: 1.25rem;
    color: grey;
    font-weight: 700;
    margin: 1.5rem 0 0.5em;
    text-align: center;
  }

  &__button {
    position: relative;
    bottom: 0;
    border: none;
    text-align: center;
    height: 50px;
    width: 100%;
    padding: 10px 0;
    transition: all 0.5s ease;
    color: #fff;
    background: color.adjust(#2cb5e8, $lightness: -25%);
    cursor: pointer;

    &:hover {
      background: color.adjust(#2cb5e8, $lightness: -20%);
    }
  }
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown, selector-class-pattern */
:global(.card__link) {
  color: inherit;
  text-decoration: none;
  margin: 5px 0;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown, selector-class-pattern */
:global(.card__link:hover) {
  text-decoration: underline;
}
