.iron-maiden--classical,
.iron-maiden--powerslave,
.iron-maiden--seventh-son-of-a-seventh-son,
.iron-maiden--somewhere-in-time,
.iron-maiden--a-real-live-one,
.iron-maiden--a-dead-live-one,
.iron-maiden--best-of-b-sides,
.iron-maiden--brave-new-world {
  stroke-width: 1.5;
}
.iron-maiden--classical {
  fill: #f00;
  stroke: #fff;
}
.iron-maiden--powerslave {
  fill: #e2be66;
  stroke: #fff;
}
.iron-maiden--seventh-son-of-a-seventh-son {
  fill: #1a0780;
  stroke: #efd432;
}
.iron-maiden--somewhere-in-time {
  fill: none;
  stroke: #fc0;
}
.iron-maiden--a-real-live-one {
  fill: #089ab3;
  stroke: #fff;
}
.iron-maiden--a-dead-live-one {
  fill: #bb1a12;
  stroke: #efd75b;
}
.iron-maiden--best-of-b-sides {
  fill: #2e1318;
  stroke: #f00;
}
.iron-maiden--brave-new-world {
  fill: none;
  stroke: #000;
}
.iron-maiden--eddie-brave-new-world__circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1;
}
.iron-maiden--eddie-brave-new-world__face {
  fill: #ff0;
}
.iron-maiden--eddie-the-book-of-souls .iron-maiden__background,
.iron-maiden--eddie-the-book-of-souls .iron-maiden__face {
  fill: #fff;
}
.iron-maiden--legacy-of-the-beast-loading .iron-maiden__eddie {
  animation: iron-maiden-rotate 5s linear 0s infinite normal;
  transform-origin: 50% 50%;
}
.iron-maiden--legacy-of-the-beast-loading .iron-maiden__external {
  animation: iron-maiden-rotate 6s linear 0s infinite normal;
  transform-origin: 50% 50%;
}
.iron-maiden--legacy-of-the-beast-loading .iron-maiden__ring {
  animation: iron-maiden-rotate 5s linear 0s infinite reverse;
  transform-origin: 50% 50%;
}
.iron-maiden--legacy-of-the-beast-loading .iron-maiden__ring-minor {
  fill: #535d6a;
}
.iron-maiden--six-six-six-flag .iron-maiden__polygon {
  fill: #fff;
}
.trooper__lettering {
  fill: #f00;
}
.trooper__inner-shadow {
  fill: #fff;
}
.trooper__outer-shadow {
  opacity: 0;
}
.trooper--new .trooper__outer-shadow {
  opacity: 1;
}
.trooper--red-n-black .trooper__inner-shadow {
  fill: #000;
}
.trooper--red-n-black .trooper__outer-shadow {
  opacity: 0;
}
@-moz-keyframes iron-maiden-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes iron-maiden-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes iron-maiden-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes iron-maiden-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
