// Helpers
@import "settings/_variables"
@import "helpers/_helpers"

// Web Fonts
// @import "settings/_web-fonts"

// Sprites
// @import "helpers/_bitmap-sprite"
// @import "helpers/_vector-sprite"

// Vendors
// @import "package_name"; // to import from node_modules

/*! ==================================================================
   Main Styles
   ================================================================== */

/*!
*
* Box model reset
* http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*
*/
// html
  // box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

i[class^="icon-"]
  display: block

@import "components/_index"
