.felipe-andreoli__border {
  fill: #aaa;
}
.felipe-andreoli__foreground {
  fill: url("#felipe-andreoli__foreground-gradient");
}
.felipe-andreoli__first-color {
  stop-color: #ff0;
}
.felipe-andreoli__second-color {
  stop-color: #cf0000;
}
