@import "_variables"

/*! ==================================================================
   Main Styles
   ================================================================== */

/*!
*
* Box model reset
* http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*
*/
html
  box-sizing: border-box
  font-family: $font-family-base

*, *:before, *:after
  box-sizing: inherit
