.dream-theater--full-majesty-symbol .dream-theater__background {
	fill: #fff;
	stroke: #000;
	stroke-width: 3.5;
}

.dream-theater--full-majesty-symbol .dream-theater__foreground {
	fill: #e32130;
}

.dream-theater--full-majesty-symbol .dream-theater__symbol {
	fill: #fff;
}

.dream-theater--majesty-symbol .dream-theater__background,
.dream-theater--majesty-symbol .dream-theater__foreground {
	display: none;
}

