.acdc
	&--classical &
		&__fill
			path
			polygon
				fill: #626262
		&__shadow-one
			polygon
				fill: #4A4A4A
		&__shadow-two
			polygon
				fill: #EDEDED
		&__shadow-three
			polygon
				fill: #C2C2C2
		&__shadow-four
			polygon
				fill: #4D4D4D

	&--classical-color &
		&__fill
			path
			polygon
				fill: #EF2334
		&__shadow-one
			polygon
				fill: #E3051B
		&__shadow-two
			polygon
				fill: #FFEBCB
		&__shadow-three
			polygon
				fill: #F7B28A
		&__shadow-four
			polygon
				fill: #784500

	&--stroke
		stroke-width: 2px
		stroke: #000
		fill: rgba(#FFF, 0);

	&--inverse
		fill: #FFF
