.ace-frehley
    &__first-stop
        stop-color: #FF6
    &__second-stop
        stop-color: #FEFB64
    &__third-stop
        stop-color: #FCEF5F
    &__fourth-stop
        stop-color: #F9DB56
    &__fifth-stop
        stop-color: #F4C049
    &__sixth-stop
        stop-color: #ED9C39
    &__seventh-stop
        stop-color: #E87E2B

    &__trouble-walkin &
        &__lettering
            fill: url(#ace-frehley__gradient)
