.derek-riggs
    &__background,
    &__foreground
        display: none

    &--badge &
        &__background
            display: block

        &__signature,
        &__foreground
            display: block
            fill: #FCFC00
