.diamond-head
    &--lightning-to-the-nations &
        &__text
            fill: #FFF

        &__star
            fill: #FFF

        &__diamond-crown
            fill: url(#diamond-head__diamond-crown-gradiente)

        &__diamond-facets
            fill: url(#diamond-head__diamond-facets-gradiente)
            stroke: #FFFFFF
            stroke-width: 3
            stroke-miterlimit: 10

        &__diamond-pavillion
            fill: url(#diamond-head__diamond-pavillion-gradiente)
