.felipe-andreoli
    &__border
        fill: #AAA
    &__foreground
        fill: url(#felipe-andreoli__foreground-gradient)
    &__first-color
        stop-color: #FF0
    &__second-color
        stop-color: #CF0000

