@import "14-bis"
@import "50-cent"
@import "acdc"
@import "audioslave"
@import "bad-religion"
@import "bartucada"
@import "bon-jovi"
@import "chickenfoot"
@import "dead-kennedys"
@import "death"
@import "derek-riggs"
@import "diamond-head"
@import "dream-theater"
@import "felipe-andreoli"
@import "franz-ferdinand"
@import "guns-n-roses"
@import "iron-maiden"
@import "jota-quest"
@import "kiss"
@import "linkin-park"
@import "megadeth"
@import "metal-church"
@import "metallica"
@import "nirvana"
@import "oasis"
@import "overdose"
@import "rammstein"
@import "rush"
@import "sepultura"
@import "slash"
@import "the-who"
@import "u2"
@import "van-halen"
@import "yes"
@import "zz-top"
