.iron-maiden
    &--classical
        fill: red
        stroke: white
        stroke-width: 1.5

        &-stroke
            fill: rgba(#FFF, 0)
            stroke: #000
            stroke-width: 1.5

    &--powerslave
        fill: #E2BE66
        stroke: #FFF
        stroke-width: 1.5

    &--somewhere-in-time
        fill: rgba(#FFF, 0)
        stroke: #FFCC00
        stroke-width: 1.5

    &--sliced-stroke
        fill: rgba(#FFF, 0)
        stroke: #000
        stroke-width: 1.5
    &--eddie
        &-brave-new-world
            &__circle
                fill: #FFFFFF
                stroke: #000000
                stroke-width: 1
            &__face
                fill: #FFFF00
