$stroke
    stroke-width: 1.5


@keyframes iron-maiden-rotate
    from
        transform: rotate(0);
    to
        transform: rotate(360deg);

.iron-maiden
    &--classical
        fill: red
        stroke: #FFF
        @extend $stroke

    &--powerslave
        fill: #E2BE66
        stroke: #FFF
        @extend $stroke

    &--seventh-son-of-a-seventh-son
        fill: #1A0780
        stroke: #EFD432
        @extend $stroke

    &--somewhere-in-time
        fill: rgba(#FFF, 0)
        stroke: #FFCC00
        @extend $stroke

    &--a-real-live-one
        fill: #089AB3
        stroke: #FFF
        @extend $stroke

    &--a-dead-live-one
        fill: #BB1A12
        stroke: #EFD75B
        @extend $stroke

    &--best-of-b-sides
        fill: #2E1318
        stroke: red
        @extend $stroke

    &--brave-new-world
        fill: rgba(#FFF, 0)
        stroke: #000
        @extend $stroke

    &--eddie-brave-new-world
        &__circle
            fill: #FFF
            stroke: #000
            stroke-width: 1
        &__face
            fill: #FFFF00

    &--eddie-the-book-of-souls &
        &__background,
        &__face
            fill: #FFF

    &--legacy-of-the-beast-loading &
        &__eddie
            animation: iron-maiden-rotate 5s linear 0s infinite normal
            transform-origin: 50% 50%
        &__external
            animation: iron-maiden-rotate 6s linear 0s infinite normal
            transform-origin: 50% 50%
        &__ring
            animation: iron-maiden-rotate 5s linear 0s infinite reverse
            transform-origin: 50% 50%
        &__ring-minor
            fill: #535D6A

    &--six-six-six-flag &
        &__polygon
            fill: #FFFFFF
