.mamonas-assassinas
    &__first-color
        fill: #008121
    &__second-color
        fill: #E90000

    &__ma &
        &__symbol
            fill: yellow

    &--mamona &
        &__tooth,
        &__iris
            fill: #FFF

        &__body
            fill: #00813B

        &__shadow-body
            fill: #006732

        &__eye
            fill: #D24234
