.mamonas-assassinas
    &__ma &
        &__symbol
            fill: yellow

    &--mamona &
        &__tooth,
        &__iris
            fill: #FFF

        &__body
            fill: #00813B

        &__shadow-body
            fill: #006732

        &__eye
            fill: #D24234
