.mixhell
  &__light-text,
  &__inner-rect
    fill: #FFF

  &--spaces &
    &__lettering
      fill:#FFFFFF
    &__lines
      display: none
    &__outer-square
      fill: #F01C2E


  &--highly-explicit &
    &__lettering
      fill:#FFFFFF
    &__lines
      fill:#FF0000
    &__square
      display: none
