.sepultura
    &--quarter-of-a-century &
        &__circles
            fill: #7E1D11

        &__tribal-symbol
            fill: #EB491B

        &__lettering
            fill: #FFF

    &--tribal-symbol &
        &__lettering,
        &__circles
            display none

    &--roots-symbol
        fill: #E7621C

    &--arise
        fill: none
        stroke: #000
        stroke-width: 1
        stroke-miterlimit: 10

    &--coat-of-arms &
        &__title,
        &__year,
        &__gores
            fill: #F37220

        &__background-shield
            stroke: #F37220
            stroke-width:1.7204
            stroke-miterlimit:10

        &__shield
            fill: #C42026

        &__symbol__front, &__hands__light
            fill: #FFFFFF


    &--triangle &
        &__field
            fill: #FF8E1E

