.sepultura
    &--arise
        fill: none
        stroke: #000
        stroke-width: 1
        stroke-miterlimit: 10

    &--coat-of-arms &
        &__title,
        &__year,
        &__gores
            fill: #F37220

        &__background-shield
            stroke: #F37220
            stroke-width:1.7204
            stroke-miterlimit:10

        &__shield
            fill: #C42026

        &__symbol__front, &__hands__light
            fill: #FFFFFF


    &--triangle &
        &__field
            fill: #FF8E1E

