$hide
    display: none

$shadow
    fill: #808080

.u2
    &--the-joshua-tree &
        &__tree
            fill: #CCC

        &__shadow
            @extend $shadow

    &--joshua-tree &
        &__shadow,
        &__text
            @extend $hide

    &--the-joshua-tree-text &
        &__tree
            @extend $hide

        &__shadow
            @extend $shadow
