.yes
    &--yes &
        &__letters-shadow,
        &__ballon-shadow
            fill: #0742AB

        &__ballon,
        &__letters
            fill:#FF331C

    &--big-generator &
        &__letters
            fill:#FFFFFF
