@use 'sass:color';

.header {
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.03rem;

  // top-line
  &::before {
    background: linear-gradient(
      141deg,
      color.complement(#2cb5e8) 0%,
      color.complement(#1fc8db) 31%,
      color.complement(#0fb8ad) 55%
    );
    content: '';
    width: 100%;
    height: 6px;
    display: block;
    position: relative;
    z-index: 1;
    top: 0;
  }

  &.top {
    &::before {
      position: fixed;
    }
  }

  &__disclaimer {
    font-weight: 300;
    font-size: 0.9rem;
  }

  &__main {
    max-width: 1000px;
    z-index: 1;
    position: relative;
    margin: auto;
    padding: 0 20px;

    @media only screen and (width >= 1000px) {
      padding: 0;
    }
  }

  &__link-title {
    display: inline-block;
  }

  &__subtitle {
    display: block;
    font-size: 1.2rem;
    color: #fff;
    font-weight: normal;
  }
}
