/*!
*
* Box model reset
* http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*
*/
html {
  box-sizing: border-box;
  font-family:
    Lato,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  // Interaction with Jumbotron
  background-color: #1fc8db;
  transition: background-color 1s;
}
