name: Check Dead Links

on:
  workflow_dispatch:
  schedule:
    # Run on the 1st and 15th of each month @ 00:00AM UTC-3
    - cron: '0 3 1,15 * *'

permissions:
  contents: read

jobs:
  dead_links:
    name: Check broken links
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: ruby/setup-ruby@2a7b30092b0caf9c046252510f9273b4875f3db9
        with:
          ruby-version: '3.3'

      - name: Install awesome_bot
        run: gem install awesome_bot

      - name: Check URLs
        run: awesome_bot src/logos/**/*.json --allow-dupe --allow-redirect
