name: Deploy to Vercel

on:
  - workflow_dispatch

jobs:
  checks:
    uses: ./.github/workflows/checks.yml
    secrets: inherit

  tests:
    uses: ./.github/workflows/tests.yml
    secrets: inherit

  deploy:
    name: Generate Build and Deploy to Vercel
    needs: [checks, tests]
    runs-on: ubuntu-latest
    env:
      SERVER_PRESET: vercel_edge
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      NUXT_PUBLIC_SCRIPTS_GOOGLE_ANALYTICS_ID: ${{ vars.NUXT_PUBLIC_SCRIPTS_GOOGLE_ANALYTICS_ID }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Project Artifacts
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}

  update-logos-badge-count:
    needs: [deploy]
    uses: ./.github/workflows/update-readme.yml
    secrets: inherit

  update-lighthouse-badges:
    needs: [deploy]
    uses: ./.github/workflows/lighthouse-badges.yml
    secrets: inherit
